LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


STRINGTABLE
BEGIN
	IDS_APP_TITLE "USB Tools"
END

IDR_MAINMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit", ID_FILE_EXIT
	END
	MENUITEM "&About", ID_ABOUT
END

IDD_ABOUT DIALOG DISCARDABLE 0,0, 239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON "&Ok", IDOK, 174,45, 50,14
	CTEXT "Created by Scott Maday", IDC_STATIC, 7,7, 225,31
END
